.st0{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#F45B49;
    stroke:#1C2628;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st1{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#F3A13B;
}
.st2{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#1C2628;
    stroke:#1C2628;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st3{
    fill:none;
    stroke:#1C2628;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st4{
    fill:#F3A13B;
}
.st5{
    fill:#1C2628;
    stroke:#1C2628;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st6{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#FAFCFF;
    stroke:#1C2628;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st7{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#FB564C;
}
.st8{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#FAF6EB;
}
.st9{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#FAF6EB;
    stroke:#1C2628;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st10{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#47584E;
    stroke:#1C2628;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st11{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#F3A140;
    stroke:#1C2628;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st12{
    fill:#49574E;
}
.st13{
    fill:none;
    stroke:#FAF6EB;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st14{
    fill:#FAF6EB;
    stroke:#1C2628;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st15{
    fill:#F45B49;
    stroke:#1C2628;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st16{
    fill:none;
    stroke:#FFFFFF;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}

.st17{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:none;
    stroke:#FEFEFE;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}

.st18{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:none;
    stroke:#1C2628;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st19{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#49574E;
}
.st20{
    fill:#F55C4A;
}
.st21{
    fill:#FAF6EB;
}

.st22{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#47584E;
    stroke:#FAF6EB;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st23{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#1C2628;
}
.st24{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#F7AA9A;
}

.st25{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:none;
    stroke:#FAF6EB;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st26{
    clip-path:url(#SVGID_2_);
}
.st27{
    clip-path:url(#SVGID_4_);
}

.st28{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:none;
    stroke:#FFFDFD;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st29{
    clip-path:url(#SVGID_6_);
}
.st30{
    fill:#FB564C;
}
.st31{
    clip-path:url(#SVGID_8_);
}
.st32{
    clip-path:url(#SVGID_10_);
}
.st33{
    fill:#F3A140;
    stroke:#1C2628;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}

.st34{
    clip-path:url(#XMLID_3_);
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:none;
    stroke:#1C2628;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st35{
    fill:none;
    stroke:#000000;
    stroke-width:6;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st36{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#F55C4A;
}
.st37{
    fill:#47584E;
    stroke:#1C2628;
    stroke-width:2.13;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st38{
    fill:#1C2628;
}

.line1 {
    stroke-dasharray: 1172.0963134765625; /* Replace 'length' with the actual path length */
    animation: line1 8s infinite ease-in-out;
}

.line2 {
    stroke-dasharray: 126.56900024414062;
    animation: line2 8s infinite ease-in-out;
}
.line3 {
    stroke-dasharray: 363.279602050781252;
    animation: line3 8s infinite ease-in-out;
}

@keyframes line1 {
    0%, 100% {
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dashoffset: 1172.0963134765625; /* Replace 'length' with the actual path length */
    }
}
@keyframes line2 {
    0%, 100% {
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dashoffset: 126.56900024414062;; /* Replace 'length' with the actual path length */
    }
}
@keyframes line3 {
    0%, 100% {
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dashoffset: 363.27960205078125; /* Replace 'length' with the actual path length */
    }
}